body{
    background:#FF847A;
}

.dots{
    text-align: center;
    padding-top: 20%;
    /* border:2px solid black; */
    /* position: relative; */
}

.box_one{
    animation: MoveUpDown 1s linear infinite;
    position: relative;
    display: inline-block;

}

.box_two{
    animation: MoveUpDown 1s linear infinite;
    position: relative;
    display: inline-block;
    animation-delay: .2s;
}

.box_three{
    animation: MoveUpDown 1s linear infinite;
    position: relative;
    display: inline-block;
    animation-delay: .4s;
}

.one{
    background:white;
    height: 15px;
    width: 15px;
    border-radius: 15px;
    display: inline-block;
    /* border:2px solid black; */
}

.two{
    background:white;
    height: 15px;
    width: 15px;
    border-radius: 15px;
    display: inline-block;
}

.three{
    background:white;
    height: 15px;
    width: 15px;
    border-radius: 15px;
    display: inline-block;
}

@keyframes MoveUpDown{
    0%, 100% {
        bottom: 0;
    }
    50% {
        bottom: 10px;
    }
}
